<div id="gradation"></div>

<style>
  #gradation {
    height: 100px;
    width: 100%;
    background: linear-gradient(#8f4eb4, rgba(143, 78, 180, 0));
    position: relative;
    margin-top: -1px;
    z-index: 4;
  }
</style>
