<nav>
  <a href="/" class="nav-link">Portfolio</a>
  <a href="/blog/" class="nav-link">Blog</a>
</nav>

<style>
  nav {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
  }

  .nav-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }

  .nav-link:hover {
    color: #0066cc;
  }
</style>
