---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="sKawashima Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global lang="sass">
  *
    margin: 0
    padding: 0
    box-sizing: border-box

  html
    background-color: #4e1a68
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif

  body
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center

  main
    min-width: 1000px
    width: 100%
    background-color: #fff
    display: flex
    flex-direction: column
    align-items: center

    @media screen and (max-width: 768px)
      min-width: auto

  @font-face
    font-family: TextaAlt-Thin
    src: url(/TextaAlt-Thin-webfont.woff)

  @font-face
    font-family: Texta-Thin
    src: url(/Texta-Thin-webfont.woff)

  @font-face
    font-family: Texta-Heavy
    src: url(/Texta-Heavy-webfont.woff)

  // Twitter埋め込み用スタイル
  .twitter-embed-container
    margin: 1.5rem 0
    display: flex
    justify-content: center
    
    .twitter-tweet
      max-width: 550px !important
      margin: 0 auto !important
</style>
